@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

.dropdown-menu {
    min-width:24rem ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}
.section:nth-of-type(2n) {
    background-color: #FE4B74;
 }

.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

.extractor .btn-dark:after {
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    float: right;
    margin-top: 5px;
}
.extractor .btn-dark{
      width: 24rem;
    text-align: left;
    margin-bottom: 0!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #333!important;
}
.btn-dark.dropdown-toggle:focus{
    box-shadow: none!important;
}
.extractor .dropdown-menu{
    margin-top: 0;
    top: 98%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: #333;
        background-color: #f9f9f9;
}
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
}
footer a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
}