{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock title %} - Genie Crawler</title>


    {% render_bundle 'vendor' 'css' %}
    {% render_bundle 'front' 'css' %}
</head>

<body>


<div id="root">

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

{% render_bundle 'vendor' 'js' %}
{% render_bundle 'front' 'js' %}

</body>

</html>
